NET "LED<1>" LOC = "P23" | IOSTANDARD = "LVCMOS33";
NET "LED<0>" LOC = "P22" | IOSTANDARD = "LVCMOS33";

NET "DQ<0>" LOC = "P38" | IOSTANDARD = "LVCMOS33";
NET "DQ<1>" LOC = "P34" | IOSTANDARD = "LVCMOS33";
NET "DQ<2>" LOC = "P36" | IOSTANDARD = "LVCMOS33";
NET "DQ<3>" LOC = "P30" | IOSTANDARD = "LVCMOS33";
NET "DQ<4>" LOC = "P37" | IOSTANDARD = "LVCMOS33";
NET "DQ<5>" LOC = "P32" | IOSTANDARD = "LVCMOS33";
NET "DQ<6>" LOC = "P31" | IOSTANDARD = "LVCMOS33";
NET "DQ<7>" LOC = "P33" | IOSTANDARD = "LVCMOS33";

NET "CLK" LOC = "P19" | IOSTANDARD = "LVCMOS33" | TNM = "Clk";
TIMESPEC "TS_Clk"=PERIOD "Clk" 125 ns;

#NET "CLKE" LOC = "P41" | IOSTANDARD = "LVCMOS33";
#NET "PWERENi" LOC = "P29" | IOSTANDARD = "LVCMOS33";

NET "RXFi" LOC = "P21" | IOSTANDARD = "LVCMOS33";
#NET "TXEi" LOC = "P20" | IOSTANDARD = "LVCMOS33";

NET "RDi" LOC = "P28" | IOSTANDARD = "LVCMOS33";
NET "WR" LOC = "P27" | IOSTANDARD = "LVCMOS33";

NET "BDC" LOC = "P44" | IOSTANDARD = "LVCMOS25";
NET "IO<0>" LOC = "P40" | IOSTANDARD = "LVCMOS25";
NET "IO<1>" LOC = "P42" | IOSTANDARD = "LVCMOS25";
NET "IO<2>" LOC = "P39" | IOSTANDARD = "LVCMOS25";
#NET "IO<3>" LOC = "P41" | IOSTANDARD = "LVCMOS25";
#NET "IO<4>" LOC = "P2" | IOSTANDARD = "LVCMOS25";
