#NET "LED<2>" LOC = "P33" | IOSTANDARD = "LVCMOS25";
#NET "LED<1>" LOC = "P32" | IOSTANDARD = "LVCMOS25";
#NET "LED<0>" LOC = "P31" | IOSTANDARD = "LVCMOS25";

NET "DQ<0>" LOC = "P16" | IOSTANDARD = "LVCMOS33";
NET "DQ<1>" LOC = "P14" | IOSTANDARD = "LVCMOS33";
NET "DQ<2>" LOC = "P13" | IOSTANDARD = "LVCMOS33";
NET "DQ<3>" LOC = "P40" | IOSTANDARD = "LVCMOS33";
NET "DQ<4>" LOC = "P12" | IOSTANDARD = "LVCMOS33";
NET "DQ<5>" LOC = "P2" | IOSTANDARD = "LVCMOS33";
NET "DQ<6>" LOC = "P1" | IOSTANDARD = "LVCMOS33";
NET "DQ<7>" LOC = "P3" | IOSTANDARD = "LVCMOS33";

NET "CLK" LOC = "P44" | IOSTANDARD = "LVCMOS33" | bufg = "CLK" | TNM = "Clk";
TIMESPEC "TS_Clk"=PERIOD "Clk" 125 ns;

#NET "CLKE" LOC = "P41" | IOSTANDARD = "LVCMOS33";
#NET "PWERENi" LOC = "P39" | IOSTANDARD = "LVCMOS33";

NET "RXFi" LOC = "P8" | IOSTANDARD = "LVCMOS33";

NET "RDi" LOC = "P38" | IOSTANDARD = "LVCMOS25";
NET "WR" LOC = "P37" | IOSTANDARD = "LVCMOS25";

NET "IO<2>" LOC = "P22" | IOSTANDARD = "LVCMOS25";
NET "IO<1>" LOC = "P21" | IOSTANDARD = "LVCMOS25";
NET "IO<0>" LOC = "P20" | IOSTANDARD = "LVCMOS25";
NET "BDC" LOC = "P19" | IOSTANDARD = "LVCMOS25";
